Importing all the required librabries in python.

In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [24]:
xl = pd.ExcelFile('../HFS/ETC Project/15-Min Winter 2019.xlsx')

In [25]:
xl.sheet_names

['15-Min Table', '15-Min Chart', 'Data', 'Time Order']

In [27]:
df = xl.parse('Data')

This will parse the data sheet in the excel file, and extract all the tabular data in that sheet. That is the data which I will be using in my analysis.

In [29]:
df.columns

Index(['Day', 'Order', 'Store No.', 'Store Description', 'POS Terminal No.',
       'POS Terminal Description', 'Date', 'Time', 'No. of Transactions',
       'Items Sold', 'Sales Amount', 'VAT Amount', 'Unnamed: 12',
       'NAV Report: ', 'Unnamed: 14'],
      dtype='object')

Getting rid of the last three columns in the dataframe.

In [45]:
df = df.iloc[:,[i for i in range(12)]]

Creating a dataframe with only ETC data (store no. 111300)

In [46]:
df_etc = df[df['Store No.']==111300]

Next, let's group the number of transactions according to the day of the week and the 15 minute time bucket of the transactions.

In [63]:
df_grouped = df_etc[['Day','Time','No. of Transactions']].groupby(['Day','Time']).sum()

This is how the grouped data looks like.

In [65]:
df_grouped.head()

                 No. of Transactions
Day    Time
Friday 06:15:00                    3
       06:30:00                   11
       06:45:00                   12
       07:00:00                   77
       07:15:00                  127

In [70]:
df_res = df_grouped.reset_index()

In [72]:
#select column from a multi index dataframe
#df_grouped.loc['Friday',:]

In [75]:
df_res.to_csv('Winter 2019 - Number of transactions by day and time.csv')

In [76]:
df.shape

(128465, 12)